RAW_DATA_PATH=data/raw
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=database
POSTGRES_USER=user
POSTGRES_PASSWORD=password
OPENAI_API_KEY=your_openai_api_key_here
AIRFLOW__WEBSERVER__SECRET_KEY=your_airflow_secret_key_here
AIRFLOW_POSTGRES_USER=user
AIRFLOW_POSTGRES_PASSWORD=password
AIRFLOW_POSTGRES_DB=database
OLLAMA_BASE_URL=http://host.docker.internal:11434